/*
    Over.css

    The last (before application) overrides.
*/
/*noinspection DuplicatedCode*/
body {
    --background-0: #fff;
    --background-1: #fff;
    --fore-0: #333;
    --color-btn-primary-text: #555;
    --btn-bg-color: #f6f8fa;
    --btn-border-color: #e1e4e8;
    --btn-ghost-border-color: #ccc;
    --btn-ghost-fore-color: #333;
    --box-header-background: #f6f8fa;
    --box-border-color: #ddd;
    --box-footer-bg: #f8fafc;
    --list-border-color: #eee;
    --a-color: #08c;
    --a-color-hover: #08c;
    --tag-background: #f0f2f6;
    --tag-color: #444;
    --quote-border-color:#dfe2e5;
    --placeholder-color: #999;
    --input-color: #666;
    --input-focus-color: #333;
    --info-bg: #f4f4fa;
    --info-bc: #dde;
    --pre-bg-color: #f6f8fa;
}
/*noinspection DuplicatedCode*/
body.dark-theme {
    --background-0: #333;
    --fore-0: #ccc;
    --background-1: #444;
    --btn-bg-color: #666;
    --color-btn-primary-text: #ccc;
    --btn-border-color: #555;
    --btn-ghost-border-color: #444;
    --btn-ghost-fore-color: #ccc;
    --box-header-background: #555;
    --box-border-color: #666;
    --box-footer-bg: #494949;
    --list-border-color: #555;
    --a-color: #08c;
    --a-color-hover: #69f;
    --tag-background: #777;
    --tag-color: #333;
    --quote-border-color:#555;
    --placeholder-color: #999;
    --input-color: #ccc;
    --input-focus-color: #fff;
    --info-bg: #3e3e5e;
    --info-bc: #1c1c37;
    --pre-bg-color: #303030;
}
* { box-sizing: border-box; }
*:focus { outline: none; }





a { text-decoration: none; color: var(--a-color); }
a:hover,a:focus { text-decoration: underline; color: var(--a-color-hover); }
/* --- */



html {
    font-size: 16px;
    font-family: var(--website-font, 'sans-serif');/*
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
    */
}
body
{
    font-size: inherit;
    cursor: default;
    background: var(--background-0);
    color:var(--fore-0);
    transition: background-color 250ms ease;
}
pre,code,.ff-mono {
    font-size: 14px;
    font-family: var(--website-font-mono, 'monospace'), monospace;
}
pre {
    margin: 0;overflow: auto;
    scrollbar-color: #999 #fff;
    scrollbar-width: auto;
}

.markdown-body .highlight pre, .markdown-body pre {
    background: var(--pre-bg-color);
}
.markdown-body blockquote {
    color:#aaa;
    border-left-color: var(--quote-border-color);
    font-style: italic;
}
hr {
    margin: 1rem 0;
    border: none;
    border-bottom: var(--box-border-color) solid 1px;
    padding: 0;
}
img {max-width: 100%;}

.muted-1{color:#666}
.muted-2{color:#999}
.muted-3{color:#ccc}
.subtext{font-size:90%;color:#999}
.subtext-2{font-size:85%;color:#999}
.subtext-3{font-size:80%;color:#999}

a.simi-link{color:inherit;text-decoration: none;}
.simi-react{color:#08c;}
.simi-link:focus .simi-react,
.simi-link:hover .simi-react{text-decoration:underline}

.focus-width-8:focus{width: 8rem;}

.header-bar {
    /*#position: sticky;*/
/*    top: 0;*/
    background: var(--background-0);
    z-index: 3;
}

.website-icon svg {
    fill: transparent;
    color: #08c;
}

.modal-icon i {
    font-size: 64px;
}
.modal-icon svg {
    height: 64px;
}

.h1-icon {
    display: flex;
}
.h1-icon svg {
    display: block;
    width: 2rem;
    margin-right: 1rem;
}


.scroll-x {
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}
/* --- Borders --- */
.text-danger{color:#900}

.b-left {
    border-left: 1px solid rgb(0 0 0 / 10%);/*#e1e4e8;*/
}
.b-right {
    border-right: 1px solid rgb(0 0 0 / 10%);/*#e1e4e8;*/
}
.b-bottom {
    border-bottom: 1px solid rgb(0 0 0 / 10%);/*#e1e4e8;*/
}
@media (max-width: 768px) {
    .b-top-sm {
        border-top: 1px solid rgb(0 0 0 / 10%);/*#e1e4e8;*/
    }
}
@media (min-width: 768px) {
    .b-left-md {
        border-left: 1px solid rgb(0 0 0 / 10%);/*#e1e4e8;*/
    }
    .b-right-md {
        border-right: 1px solid rgb(0 0 0 / 10%);/*#e1e4e8;*/
    }
}

/* --- tags --- */
.tag-list{
    line-height: 1.7rem;
}
.tag {
    background-color: var(--tag-background);
    color: var(--tag-color);
    border-radius: 4px;
    font-size: 90%;
    padding: 0px 10px;
    margin: 1px;
    display: inline-block;
    transition: background-color 120ms ease-in-out;
}
.tag.info {
    background-color: #669;
    color:white;
}
a.tag:hover {
    color: #000;
    background-color: #e0e2e6;
    text-decoration: none;
}

/* --- Timeline --- */
.timeline {

}
.timeline-item {
    padding: 1rem .5rem 1rem 1rem;
    margin-left: 1rem;
    border-left: 2px solid #ddd;
    position: relative;
    line-height: 1.3rem;
}
.timeline-item:before {
    display: block;
    content: ' ';
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 1.25rem;
    border: 2px solid #ddd;
}
.timeline-item .date { color: #999}
.timeline-item .title { font-weight: bold}
.timeline-item .text { color:#666; }

/* --- localNotifier --- */


.localNotifier {
    pointer-events: none;
    opacity: 1;
    transition: opacity 2s linear;
}


.h1-like {
    font-size: 2em;
    margin: 0.67em 0;
}

/* --- Box --- */
.box {
    border: 1px solid var(--box-border-color);
    border-radius: 3px;
    box-shadow: 0 0 0 3px rgb(0 0 0 / 1%);
    overflow: hidden;
    transition: height .5s ease-in-out, margin .5s ease, opacity .5s ease;
    background: var(--background-1);
    display: flex;
    flex-direction: column;
}
.big-shadow{

    box-shadow: 0 0 13px rgb(0 0 0 / 50%);
}
.box-closed {
    height: 0!important;
    margin: 0 -1px!important;
    opacity: 0!important;
}

.box .header {
    display: flex;
    background: var(--box-header-background);
    border-bottom: 1px solid var(--box-border-color);
}
.box .header .header-item {
    padding: 16px;
}
.box .header a.header-item {
    color: #666;
}
.box .header a.header-item:focus,
.box .header a.header-item:hover {
    text-decoration: none;
    background: rgb(0 0 0 / 5%);
}
.box .header .title {
    flex-grow: 1;
}
.box .footer {
    display: flex;
    background: var(--box-footer-bg);
    border-top: 1px solid var(--box-border-color);
}

.box.box-success{
    border: 1px solid #aCa;
}
.box.box-success .header {
    background: #f6faf6;
    border-bottom: 1px solid #cec;
}
.box.box-info{
    border: 1px solid var(--info-bc);
}
.box.box-info .header {
    background: var(--info-bg);
    border-bottom: 1px solid var(--info-bc);
}
.box.box-warning{
    border: 1px solid rgb(235 228 177);
}
.box.box-warning .header {
    background: rgb(255 248 197);
    border-bottom: 1px solid rgb(235 228 177);
}

.pop-over {
    position: absolute;
    background: var(--background-1);
    color: #666;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

/* --- comments --- */

.comment {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}
.comment .author {
}
.comment .body {
    padding-bottom: .5rem;
}
.comment-replies {
    margin-left: 1rem;
    border-left: 5px solid var(--quote-border-color);
    padding-left: 2rem;
}

/* --- link-list --- */
.link-list .list-item-separator {
    border-bottom: 1px solid var(--list-border-color);
    padding: 1rem;
    color:#667;
    font-size: 90%;
    font-weight: bold;
}
.link-list .list-item:not(.list-item:last-of-type) {
    border-bottom: 1px solid var(--list-border-color);
    display: flex;
}
.link-list .list-item .icon {
    font-size: 200%;
    width:5rem;
}
.link-list-sm .list-item .icon {
    font-size: 120%;
    width:3rem
}
.link-list .list-item:hover {
    background: rgb(0 0 0 / 1%);
}
.link-list .main {
    flex-grow: 1;
}
.link-list .list-item a {
    display: block;
}
a.item-link {
    color: #666
}
a.item-link:hover {
    text-decoration: none;
}
a.item-link .as-link{
    color:var(--a-color)
}

.link-list .list-item a:hover,
.link-list .list-item a.item-link:hover .as-link {
    /*color:#059;*/
    color:var(--a-color-hover)
}

/* --- BUTTON --- */

/*@include components/buttons*/

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 2;
}
.top-2 {
    top: .5rem;
}

/* --- DIALOG --- */
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px) brightness(60%);
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 1;
    transition: opacity 200ms ease;
}
.dialog.closed {
    opacity: 0;
    pointer-events: none;
}
.dialog .box {
    width: 350px;
    max-width: 100%;
    box-shadow: 0 .5rem 2rem rgb(0 0 0 / 30%);
    border:none;
    margin-top: 20vh;
}
/* --- Table --- */
.table {
    border-collapse: collapse;
    width: 100%;
    border:1px solid var(--box-border-color) ;
    border-radius: 3px;
    overflow: hidden;
}
.table.table-striped tr:nth-child(even) {background-color: rgb(0 0 0 / 5%)}

.table caption {
    text-align: left;
    padding: .5rem;
    color: #666
}
.table tr {
    border-bottom:1px solid var(--box-border-color) ;
}
.table tr:hover {
    background: rgb(66 99 220 / 5%);
}
.table tr.checked {
    /*background-color: #eee;*/
    /*box-shadow: inset 0 0 1rem #cdf;*/
    /*box-shadow: inset 0 0 0 .5rem #cdf;*/
    background: linear-gradient(90deg, #eee 0%, #fff 10%, #fff 50%, #eee 100%);;
    color:#08c;
}
.table.select tr > td:first-of-type:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 300;
    content: "\f111";
    color: #ccc;
}
.table.select tr.checked > td:first-of-type:after {
    color: #666;
    content: "\f058";
}
.table tr:last-of-type {
    border: none;
}
.table thead {
    background-color: var(--box-header-background);
    border-bottom:1px solid var(--box-border-color) ;
}
.table td {padding: .8rem 1rem;}
.table th {padding: 1rem;text-align: left;}
.table.sm td, .table.sm th {padding: .4rem .8rem;}
.table.xs td, .table.xs th {padding: .2rem .4rem;}

/* --- FORM --- */
#frame-viewer {
    margin:1rem auto;
    box-shadow: 0 0 5px #000;
    border:none;
    border-radius: 3px;
    transition: width 200ms ease;
}
.iframe-response {
    background: linear-gradient(0deg, #ccc 0%, #999 100%);
}
/* --- FORM --- */
.form-label{
    display: block;
    padding: 5px 0;
}
.form .field {
    margin: 1rem 0;
}
input::placeholder {
    color: var(--placeholder-color);
}
input,
textarea,
select {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fcfcfc;
    color: var(--input-color)
}
input,
textarea,
select {
    padding: .3rem .6rem;
    width: 100%;
}
input[type=radio],input[type=checkbox] {
    width: auto;
}
input:focus,
textarea:focus,
select:focus
{
    outline:none;
    border-color: #08c;
    box-shadow: 0 0 0 3px rgba(0,0,255,.1);
    background: #fff;
    color: var(--input-focus-color);
}
/*
.validation{opacity: 0}
input:required:valid {
    border-color: #9c9;
    box-shadow: 0 0 0 3px rgba( 0 150 0 / 10%);
}
input:required:invalid:not(:placeholder-shown) {
    border-color: #f99;
    box-shadow: 0 0 0 3px rgba(255 0 0 / 10%);
}
input:required:invalid:not(:placeholder-shown) + .validation {
    opacity: 1;
}
*/
input[type=search] {
    width: 0;
    padding:0;
    transition: width 150ms ease;
}
input[type=search]:not(:placeholder-shown),
input[type=search]:focus {
    width: 8rem;
    outline: none;
    padding:0 .3rem;
    box-shadow: none;
}
input[type=checkbox] {
    position: fixed;
    top: -100rem;
}
input[type=checkbox] + label:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 300;
    content: "\f0c8";
    display: inline-block;
    font-size: 140%;
    position: relative;
    margin: 0 .5rem 0 0;
    bottom: -1px;
    cursor: pointer;
    color: #333;
}
input[type=checkbox]:checked + label:before {
    font-weight: 900;
    color: #696;
    content: "\f14a";
}
/*----------------------------------------------------------------------*/
/* FLASH                                                                */
/*----------------------------------------------------------------------*/
@keyframes flash-anim {
    from { background-color: #cde; }
    to { background-color: inherit;}
}
.flash {
    animation-name: flash-anim;
    animation-duration: 5s;
}
/*----------------------------------------------------------------------*/
/* CONTAINERS                                                           */
/*----------------------------------------------------------------------*/
.container-sm {
    max-width: 350px;
    margin-right:auto;
    margin-left:auto
}
.container-md {
    max-width:768px;
    margin-right:auto;
    margin-left:auto
}
.container-lg {
    max-width:1012px;
    margin-right:auto;
    margin-left:auto
}
.container-xl {
    max-width:1280px;
    margin-right:auto;
    margin-left:auto
}


.hidden{display:none!important;}
.no-background{background:none!important;}
.no-overflow{overflow: hidden!important;}
.no-border,.no-borders{border: none!important;}
.op-025{opacity: .25;}
.op-05{opacity: .5;}

.radius{border-radius: 3px;}
.radius-bottom-left{border-bottom-left-radius: 3px;}
.radius-bottom-right{border-bottom-right-radius: 3px;}
.radius-top-left{border-top-left-radius: 3px;}
.radius-top-right{border-top-right-radius: 3px;}

.radius-sm{border-radius: 2px;}
.radius-xl{border-radius: 5px;}
.radius-xxl{border-radius: 8px;}
.rounded{border-radius: 50%;}

.position-absolute{position: absolute}
.position-relative{position: relative}
.d-block{display:block !important}
/*
    ============ FLEX ============
*/
.d-flex{display: flex!important;}
.flex-grow{flex-grow: 1}
.flex-wrap{flex-wrap: wrap}
.flex-align{align-items: center}
.flex-align-top{align-items: start}
.flex-center{justify-content: center;}
.flex-shrink-0{flex-shrink:0;}

.h-100{height:100%}
.h-inherit{height:inherit}
.max-w-350px {max-width: 350px}
.max-w-100{max-width:100%;}
.max-w-50{max-width:50%;}
.max-w-75{max-width:75%;}
.max-w-25{max-width:25%;}
.w-auto{width:auto;}
.w-100{width:100%;}
.w-75{width:75%;}
.w-50{width:50%;}
.w-25{width:25%;}
.w-0{width:0;}
.w-5{width:5rem;}
.w-4{width:4rem;}
/*
    ============ FONT / TEXT ============
*/
.fs-80{font-size: 80%}
.fs-90{font-size: 90%}
.fs-120{font-size: 120%}
.fs-150{font-size: 150%}
.fs-200{font-size: 200%}
.fs-250{font-size: 250%}
.fs-300{font-size: 300%}

.fw-normal{font-weight: normal}
.fw-light{font-weight: 300}
.fw-bold{font-weight: bolder}

.text-left{text-align: left}

.text-center{text-align: center}
.text-right{text-align: right}
.text-upper{text-transform: uppercase}
.text-lower{text-transform: lowercase}
.text-small-caps{font-variant: small-caps}
/**@deprecated*/.small-caps{font-variant: small-caps}
.text-italic{font-style: italic;}

/* -- */
.m-0{margin:0}
.m-1{margin:.25rem}
.m-2{margin:.5rem}
.m, .m-3{margin:1rem}
.m-4{margin:2rem}
.mr-0{margin-right:0}
.mr-1{margin-right:.25rem}
.mr-2{margin-right:.5rem}
.mr, .mr-3{margin-right:1rem}
.mr-4{margin-right:2rem}
.ml-0{margin-left:0}
.ml-1{margin-left:.25rem}
.ml-2{margin-left:.5rem}
.ml,.ml-3{margin-left:1rem}
.ml-4{margin-left:2rem}
.mb-0{margin-bottom:0}
.mb-1{margin-bottom:.25rem}
.mb-2{margin-bottom:.5rem}
.mb,.mb-3{margin-bottom:1rem}
.mb-4{margin-bottom:2rem}
.mt-0{margin-top:0}
.mt-1{margin-top:.25rem}
.mt-2{margin-top:.5rem}
.mt,.mt-3{margin-top:1rem}
.mt-4{margin-top:2rem}
.mx-0{margin-left:0;margin-right:0;}
.mx-1{margin-left:.25rem;margin-right:.25rem;}
.mx-2{margin-left:.5rem;margin-right:.5rem;}
.mx--2{margin-left:-.5rem;margin-right:-.5rem;}
.mx,.mx-3{margin-left:1rem;margin-right:1rem;}
.mx-4{margin-left:2rem;margin-right:2rem;}
.my-0{margin-top:0;margin-bottom:0;}
.my-1{margin-top:.25rem;margin-bottom:.25rem;}
.my-2{margin-top:.5rem;margin-bottom:.5rem;}
.my,.my-3{margin-top:1rem;margin-bottom:1rem;}
.my-4{margin-top:2rem;margin-bottom:2rem;}
/* -- */
.m-auto{margin:auto;}
.mx-auto{margin-left:auto;margin-right:auto;}
/*---*/
.p-0{padding:0!important;}
.p-1{padding:.25rem!important;}
.p-2{padding:.5rem!important;}
.p,.p-3{padding:1rem!important;}
.p-4{padding:2rem!important;}
.pr-0{padding-right:0!important;}
.pr-1{padding-right:.25rem!important;}
.pr-2{padding-right:.5rem!important;}
.pr,.pr-3{padding-right:1rem!important;}
.pr-4{padding-right:2rem!important;}
.pl-0{padding-left:0!important;}
.pl-1{padding-left:.25rem!important;}
.pl-2{padding-left:.5rem!important;}
.pl,.pl-3{padding-left:1rem!important;}
.pl-4{padding-left:2rem!important;}
.pb-0{padding-bottom:0!important;}
.pb-1{padding-bottom:.25rem!important;}
.pb-2{padding-bottom:.5rem!important;}
.pb,.pb-3{padding-bottom:1rem!important;}
.pb-4{padding-bottom:2rem!important;}
.pt-0{padding-top:0!important;}
.pt-1{padding-top:.25rem!important;}
.pt-2{padding-top:.5rem!important;}
.pt,.pt-3{padding-top:1rem!important;}
.pt-4{padding-top:2rem!important;}
.px-0{padding-left:0!important;padding-right:0!important;}
.px-1{padding-left:.25rem!important;padding-right:.25rem!important;}
.px-2{padding-left:.5rem!important;padding-right:.5rem!important;}
.px,.px-3{padding-left:1rem!important;padding-right:1rem!important;}
.px-4{padding-left:2rem!important;padding-right:2rem!important;}
.py-0{padding-top:0!important;padding-bottom:0!important;}
.py-1{padding-top:.25rem!important;padding-bottom:.25rem!important;}
.py-2{padding-top:.5rem!important;padding-bottom:.5rem!important;}
.py,.py-3{padding-top:1rem!important;padding-bottom:1rem!important;}
.py-4{padding-top:2rem!important;padding-bottom:2rem!important;}
/*---*/